body{
background-image: url(img/estrellas.jpg);
}
.flg{
    color: blueviolet;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-size: 3em
    ;
}
.oso{
    width: 100%;
}
.txt{
    text-align: center;
    color: cyan;
     font-size: 21px;
     width: 90%;
     margin-left : 25px;
     margin-bottom: 10px;
}
.desp{
    color: blueviolet;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    font-size: 1em;
    margin-bottom: 25px;
}